.App {
  text-align: center;
}

.state-content {
  height: 120px;
  background-color: yellow;
}
.reducer-content {
  height: 120px;
  background-color: greenyellow;
}
.effect-content {
  height: 120px;
  background-color: red;
}
.ref-content {
    height: 120px;
    color: white;
    background-color: blue;
}
.custom-content {
      height: 120px;
      color: white;
      background-color: black;
}
.custom2-content {
      height: 120px;
      color: white;
      background-color: black;
}